body {
   background-color: #2E3239;
}

.header {
   text-align: center;
   color: #00CDE8;
}

.textbox {
   width: 370px;
   height: 25px;
   border-radius: 7px;
   background-color: rgb(255, 255, 255);
   box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.582);
}

.createAcct {
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: aqua; */
}

.card {
   display: flexbox;
   justify-content: center;
   align-items: center;
   background-color: #00CDE8;
   height: 466px;
   width: 974px;
   padding-top: 25px;
}

.phoneNum {
   text-align: center;
   padding: 22px;
}

.name {
   text-align: center;
   padding: 22px;
}

.userName {
   text-align: center;
   padding: 22px;
}

.password {
   text-align: center;
   padding: 22px;
}

.password2 {
   text-align: center;
   padding: 22px;
}

.createBTN {
   text-align: center;
   padding: 22px;
}

.linkLogin {
   text-align: center;
}